.issue{
        margin-top: 1.2rem;
        float: left;
        margin-bottom: 1.3rem;
}
    .userIssue{
        border-bottom: 1px solid #eee;
        width: 100%;
        float: left;
        padding: 0.3rem 0;
        background: white;
    }
        .likeTotal{
            width: 80%;
            border-bottom: 1px solid #e4e7ed;
            display: table;
            line-height: 0.6rem;
            background-color: #eee;
            margin-left: 15%;
            font-size: 0.4rem;
            color: #505f76;
            font-weight: bolder;
            padding-left: 0.1rem;
            text-align: left;
        }
    .mint-spinner-fading-circle
        margin-left 50% 
        